<nav class="navbar navbar-light bg-primary">
  <div class="container">
    <h1 style="color: aliceblue;">
      Products
    </h1>
    <div class="d-flex">
      <button (click) = "addProduct()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Product
      </button>
    </div>
  </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup] = 'formValue' (ngSubmit) = "onSubmit()">

          <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input type="text" formControlName = 'productName' class="form-control" id="productName" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="productDescription" class="form-label">Description</label>
            <input type="text" formControlName = 'productDescription' class="form-control" id="productDescription" required>
          </div>
          <div class="mb-3">
            <label for="productPrice" class="form-label">Price</label>
            <input type="text" formControlName = 'productPrice' class="form-control" id="productPrice" required>
          </div>
          <div class="mb-3">
            <label for="ProductRating" class="form-label">Rating</label>
            <input type="text" formControlName = 'productRating' class="form-control" id="ProductRating" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="closeModel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button *ngIf = "showAddButton" [disabled] = "!formValue.valid" type="submit" class="btn btn-primary" (click)="postProductDetails()">Add</button>
        <button *ngIf = "showUpdateButton" [disabled] = "!formValue.valid" type="submit" class="btn btn-primary" (click)="updateCall()">Update</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">
          Product Id
        </th>
        <th scope="col">
          Product Name
        </th>
        <th scope="col">
          Description
        </th>
        <th scope="col">
          Price
        </th>
        <th scope="col">
          Rating
        </th>
        <th scope="col">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let product of productData">
        <td>
          {{product.id}}
        </td>
        <td>
          {{product.productName}}
        </td>
        <td>
          {{product.productDescription}}
        </td>
        <td>
          {{product.productPrice}}
        </td>
        <td>
          {{product.productRating}}
        </td>
        <td>
          <button id="{{product.id}}" (click)="onEdit(product)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
          <!-- <button (click) = "addProduct()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Product
          </button> -->
          <button id="{{product.id}}" (click) = "deleteProduct(product)" class="btn btn-danger mx-3">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

